.container_player {



    padding: 2 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: darkgrey;

  border-radius: 10px;

/*width: 40%;
*/

}

.container_duration_current_progress{


    display: flex;
    flex-direction: row;
}